@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    padding-top: 100px; 
    font-family: 'Lato', sans-serif; 
    font-size: 1.2em;
    background-color: #F2EDF1;
}

header {
    background-color: #d9ebea;
    padding: 10px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 150px; 
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none; 
    color: #000;
}

header h1 {
    margin: 60px 0 0 0; 
    text-align: center; 
}

main {
    display: flex; 
    flex-direction: column; 
}

main h2 {
    text-align: center;
    margin: 60px 0 20px 0; 

}

main p {
    width: 70%;
    text-align: left;
    margin: 0 auto 20px auto;
}

button {
    margin-top: 10px; 
}

input{
    margin-left: 10px;
}

.carousel-inner {
    text-align: center;
}

.carousel-item {
    display: none; 
}

.carousel-item.active {
    display: block;
}

.carousel-item h5 {
    text-align: left;
}

.carousel-item .options {
    text-align: left;
    margin-top: 10px; 
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.form-check-input {
    margin-top: 0;
    margin-left: -30px; 
    
}

.options {
    font-size: 1.1em;
}

.form-group {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
}

#logo {
    float: left;
    margin-right: 10px;
    width: 20%;
    height: auto;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

#questionnaire {
    display: none; 
    margin-top: 120px;
}

#result {
    display: none; 
    text-align: center;
    margin: 60px 0 0 0 !important;
}

#resultText h2 {
    text-align: center;
    margin-top: 50px;
}

#resultText p {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column; 
        height: 200px; 
        align-items: center; 
    }

    #logo {
        margin-top: 30px;
        width: 40%; 
        align-self: center; 
    }

    header h1 {
        margin-top: 110px; 
        font-size: 1.5em; 
        align-items: start;
    }
}
