body {
    padding-top: 100px; /* Para garantir espaço para o header fixo */
}

header {
    background-color: #d9ebea;
    padding: 10px;
    margin-bottom: 20px;
    display: flex; /* Torna o header um contêiner flexível */
    flex-direction: column; /* Coloca os itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 150px; /* Altura opcional para o cabeçalho */
}

header h1 {
    margin-top: 60px; /* Espaço entre o cabeçalho e o título */
    text-align: center; /* Alinhamento do texto no centro */
}

.carousel-inner {
    text-align: center; /* Centraliza o texto dentro do carousel */
}

.carousel-item {
    display: none; /* Inicia oculto até o teste começar */
}

.carousel-item.active {
    display: block;
}

.carousel-item h5 {
    text-align: left; /* Alinha o título da pergunta à esquerda */
}

.carousel-item .options {
    text-align: left; /* Alinha o texto das opções à esquerda */
    margin-top: 10px; /* Espaçamento superior para as opções */
}

#logo {
    float: left;
    margin-right: 10px;
    width: 20%;
    height: auto;
}

#intro {
    text-align: left;
    margin-top: 120px;
    margin-bottom: 20px;
}

#questionnaire {
    display: none; /* Inicia oculto até o teste começar */
    margin-top: 120px;
}

#result {
    display: none; /* Inicia oculto até o teste terminar */
    text-align: center;
    margin-top: 120px !important;
}

#resultText h2 {
    text-align: center;
}

#resultText p {
    text-align: left;
    margin-top: 20px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column; /* Coloca os itens em coluna */
        height: 200px; /* Aumenta a altura do cabeçalho */
        align-items: center; /* Centraliza os itens horizontalmente */
    }

    #logo {
        margin-top: 30px;
        width: 40%; /* Aumenta o tamanho do logotipo */
        align-self: center; /* Centraliza o logotipo horizontalmente */
    }

    header h1 {
        margin-top: 110px; /* Aumenta o espaço entre o cabeçalho e o título */
        font-size: 1.5em; /* Diminui o tamanho da fonte */
        align-items: start;
    }
}
